<ion-header>
  <ion-toolbar color="secondary">

    <ion-title text-center>
      <h1>Autocuidado <ion-icon name="hand"></ion-icon>
      </h1>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content padding>
  <h2>Indicaciones:</h2>
  <p> Marque con un número entre 1-5, solo uno por enunciado,
    el que mejor refleje su concepto, tenga en cuenta el valor de
    cada número relacionado en el siguiente:<br>
    1: NUNCA, 2: CASI NUNCA, 3: AVECES, 4: CASI SIEMPRE, 5: SIEMPRE.
  </p>

  <h1>Ítems:</h1>
  <ion-item>
    <ion-label position="floating">1 Siento que mi estado de ánimo me permite cuidarme.:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

</ion-content>