<ion-header>
  <ion-toolbar color="secondary">

    <ion-title class="ion-text-center">
      <h1>Autocuidado</h1>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-img class="centrado" style="width: 160px; height: 160px;" src="assets/img/login.png"></ion-img>
  <form [formGroup]="lGroup" novalidate>
    <ion-item>
      <ion-label><strong>Cédula:</strong></ion-label>
      <ion-input id="documentNumber" type="number" placeholder="1086172352" formControlName="documentNumber"
         ></ion-input>
    </ion-item>
    <ion-item *ngIf="lGroup.controls.documentNumber.errors  && lGroup.controls.documentNumber.dirty">
      <p color="danger" ion-text *ngIf="lGroup.get('documentNumber').hasError('required')">Campo requerido</p>
      <p color="danger" ion-text *ngIf="lGroup.get('documentNumber').hasError('minlength')">Min 10 caracteres</p>
      <p color="danger" ion-text *ngIf="lGroup.get('documentNumber').hasError('maxlength')">Max 10 caracteres</p>
    </ion-item>

    <ion-item>
      <ion-label><strong>Contraseña:</strong></ion-label>
      <ion-input type="password" placeholder="******"  
        formControlName="password">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="lGroup.controls.password.errors && lGroup.controls.password.dirty">
        <p color="danger" ion-text *ngIf="lGroup.get('password').hasError('required')">Campo requerido</p>
        <p color="danger" ion-text *ngIf="lGroup.get('password').hasError('minlength')">Contraseña o usuario invalido</p>
      </ion-item>
    <br>
    <ion-button routerLink="/tabs/caa"  [disabled]="!lGroup.valid" (click)="setLogin()" class="ion-text-center"
      color="success" fill="solid" expand="full">
      Ingresar
    </ion-button>
    <ion-button class="centrado" color="secondary" fill="solid" routerLink="/register" expand="full">Registrarme
    </ion-button>
  </form>
</ion-content>