<ion-header>
  <ion-toolbar color="secondary">

    <ion-title text-center>
      <h1>Autocuidado <ion-icon name="hand"></ion-icon>
      </h1>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-title text-center>
    <h2>Login</h2>
  </ion-title>
  <ion-img class="centrado" style="width: 160px; height: 160px;" src="assets/img/login.png"></ion-img>
  <ion-item>
    <ion-label>Usuario:</ion-label>
    <ion-input type="number" placeholder="Cedula"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña:</ion-label>
    <ion-input type="password" placeholder="******"></ion-input>
  </ion-item>


  <ion-button expand="full" fill="outline" style="height: 40px;"><h2> Ingresar</h2></ion-button>




</ion-content>