<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="caa">
      <ion-icon name="document"></ion-icon>
      <ion-label>Tests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diagnostic">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Diagnostico</ion-label>
    </ion-tab-button>  

    <ion-tab-button tab="inbox">
      <ion-icon name="alert"></ion-icon>
      <ion-label>Alarmas</ion-label>
    </ion-tab-button>   

  </ion-tab-bar>

</ion-tabs>
