<ion-header>
  <ion-toolbar color="secondary">
      <ion-title class="ion-text-center">
      <h1>Autocuidado <ion-icon name="hand"></ion-icon>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
     <ion-card style="background-color:rgba(122, 141, 204, 0.822);"> 
        <ion-card-header>                
          <ion-card-title class="ion-text-center"> Tips</ion-card-title>
        </ion-card-header>
      </ion-card>
          <ion-card style="background-color: aqua;"  *ngFor = "let d of datos.texts">
              <ion-card-header>                
                <ion-card-title> {{ d }}</ion-card-title>
              </ion-card-header>
            </ion-card>
    <!--<ion-button shape="round" fill="outline" (click)="getHome" >Cargar</ion-button>-->
</ion-content>