#ocultar1{
    display: none;
}
#ocultar2{
    display: none;
}
#ocultar3{
    display: none;
}
#ocultar4{
    display: none;
}
#ocultar5{
    display: none;
}
#ocultar6{
    display: none;
}
#ocultar7{
    display: none;
}