<ion-header>
  <ion-toolbar color="secondary">

    <ion-title text-center>
      <h1>Autocuidado <ion-icon name="hand"></ion-icon>
      </h1>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
    <ion-card style="background-color:rgba(122, 141, 204, 0.822);"> 
        <ion-card-header>                
          <ion-card-title class="ion-text-center"> Diagnóstico </ion-card-title>
        </ion-card-header>
      </ion-card>

   <ion-label>Cédula</ion-label><br>
   <ion-label> {{datos.documentNumber}} </ion-label><br><br>

   <ion-label>Código del Diagnóstico</ion-label><br>
   <ion-label> {{datos.diagnosticCode}} </ion-label><br><br>

   <ion-label>Nombre del diagnóstico</ion-label><br>
   <ion-label> {{datos.diagnosticName}} </ion-label><br><br>

   <ion-label>Definición Diagnóstico</ion-label><br>
   <ion-label> {{datos.diagnosticDefinition}} </ion-label><br><br>

   <ion-label>Codigo Noc</ion-label><br>
   <ion-label> {{datos.nocCode}} </ion-label><br><br>

   <ion-label>Nombre Noc</ion-label><br>
   <ion-label> {{datos.nocName}} </ion-label><br><br>

   <ion-label>Cédula</ion-label><br>
   <ion-label> {{datos.nocDefinition}} </ion-label><br><br>

   <!--<ion-label>Indicadores</ion-label><br>
   <ion-label *ngFor = "let d of datos.indicatorsList"> {{datos.indicatorsList.indicatorDescription}} </ion-label><br><br>-->

   <ion-label>Código NIC</ion-label><br>
   <ion-label> {{datos.nicCode}} </ion-label><br><br>

   <ion-label>Nombre NIC</ion-label><br>
   <ion-label> {{datos.nicName}} </ion-label><br><br>

   <ion-label>Definición NIC</ion-label><br>
   <ion-label> {{datos.nicDefinition}} </ion-label><br><br>

   <ion-label>Actividades</ion-label><br>
<ion-label *ngFor = "let d of datos.activitiesList"> {{datos.activitiesList}} </ion-label><br>
   
</ion-content>