<ion-header>
  <ion-toolbar color="secondary">

    <ion-title text-center>
      <h1>Autocuidado <ion-icon name="hand"></ion-icon>
      </h1>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="/login" text="Salir" icon="log-out"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-card style="background-color:#64AAFF;">
    <ion-card-header>
      <ion-card-title class="ion-text-center"> <strong>Diagnóstico</strong> </ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-label><strong>Documento:</strong> {{datos.documentNumber}}</ion-label><br><br>
  <ion-label><strong>Nombre del Dominio:</strong><br> {{datos.domainName}}</ion-label><br><br>
  <ion-label><strong>Código Diagnóstico:</strong> {{diagnostics.diagnosticCode}}</ion-label><br><br>
  <ion-label><strong>Nombre Diagnóstico:</strong> {{diagnostics.diagnosticName}}</ion-label><br><br>
  <ion-label><strong>Definición Diagnóstico:</strong> {{diagnostics.diagnosticDefinition}}</ion-label><br><br>
  <ion-label><strong>Características:</strong> {{diagnostics.caracteristicsList}}</ion-label><br><br>


  <ion-label><strong>Código NOC:</strong> {{nocs.nocCode}}</ion-label><br><br>
  <ion-label><strong>Nombre NOC:</strong> {{nocs.nocName}}</ion-label><br><br>
  <ion-label><strong>Definición NOC:</strong> {{nocs.nocDefinition}}</ion-label><br><br>
  <ion-label><strong>Indicadores NOC:</strong> </ion-label>
  <ion-list *ngIf="nocList">
      <ion-item class="" *ngFor="let c of nocList">
        <div class="">
          <p><strong>Descripción: </strong> {{c.indicatorDescription}} </p>
        </div>
      </ion-item>
    </ion-list>


  <ion-label><strong>Código NIC:</strong> {{nics.nicCode}}</ion-label><br><br>
  <ion-label><strong>Nombre NIC:</strong> {{nics.nicName}}</ion-label><br><br>
  <ion-label><strong>Definición NIC:</strong> {{nics.nicDefinition}}</ion-label><br><br>
  <ion-label><strong>Lista de Actividades:</strong> {{nics.activitiesList}}</ion-label><br><br>
</ion-content>