
<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      <h1>Autocuidado <ion-icon name="hand"></ion-icon>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   
  <ion-title class="ion-text-center">
    <h2>Registro</h2>
  </ion-title>
  <ion-item>
      <ion-label position="floating">Cédula:</ion-label>
      <ion-input required type="number" id="documentNumber" [(ngModel)]="register.documentNumber"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input required id="name" [(ngModel)]="register.userName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido:</ion-label>
    <ion-input required id="lastName" [(ngModel)]="register.lastName"></ion-input>
  </ion-item>
  
    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input required type="password" id="password" [(ngModel)]="register.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar contraseña:</ion-label>
      <ion-input required type="password" confirmPassword [(ngModel)]="register.confirmPassword"></ion-input>
    </ion-item>   
    <br>
    <ion-button color="success" routerLink="/tabs/tab2" shape="round" fill="solid" (click)="createRegister()" >Registrarme</ion-button>
    <ion-button color="secondary" routerLink="/login" shape="round" fill="solid">Ingresar</ion-button>
    
</ion-content>