<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      <h1>Autocuidado<ion-icon name="hand"></ion-icon>
      </h1>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="/login" text="Salir" icon="log-out"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card style="background-color:#64AAFF;" expand="full">
        <ion-card-header>
          <ion-card-title class="ion-text-center"><strong>Instrumento CAA</strong></ion-card-title>
        </ion-card-header>
      </ion-card>
    <ion-list>
    <ion-list-header>
      <h2>Preguntas</h2>
    </ion-list-header>
    <p>1) Siento que mi estado de ánimo me permite cuidarme.</p>
    <ion-item>      
      <ion-select [(ngModel)]="caa.answer1" (change)="capturar()" required="true" placeholder="seleccione">
        <ion-select-option value="1">Nunca </ion-select-option>
        <ion-select-option value="2">Casi nunca</ion-select-option>
        <ion-select-option value="3">A veces</ion-select-option>
        <ion-select-option value="4">Casi siempre</ion-select-option>
        <ion-select-option value="5">Siempre</ion-select-option>
      </ion-select>
    </ion-item>   
    <p>2) Cuando duermo 6-8 horas diarias, me siento descansado.</p>
    <ion-item>      
      <ion-select [(ngModel)]="caa.answer2" (change)="capturar()" required="true" placeholder="seleccione">
        <ion-select-option value="1">Nunca </ion-select-option>
        <ion-select-option value="2">Casi nunca</ion-select-option>
        <ion-select-option value="3">A veces</ion-select-option>
        <ion-select-option value="4">Casi siempre</ion-select-option>
        <ion-select-option value="5">Siempre</ion-select-option>
      </ion-select>
    </ion-item>
    <p>3) Siento que mi estado de ánimo me permite cuidarme.</p>
    <ion-item>      
      <ion-select [(ngModel)]="caa.answer3" (change)="capturar()" required="true" placeholder="seleccione">
        <ion-select-option value="1">Nunca </ion-select-option>
        <ion-select-option value="2">Casi nunca</ion-select-option>
        <ion-select-option value="3">A veces</ion-select-option>
        <ion-select-option value="4">Casi siempre</ion-select-option>
        <ion-select-option value="5">Siempre</ion-select-option>
      </ion-select>
    </ion-item>   
    <p>4) Considero importante realizar ejercicio.</p>
    <ion-item>      
      <ion-select [(ngModel)]="caa.answer4" (change)="capturar()" required="true" placeholder="seleccione">
        <ion-select-option value="1">Nunca </ion-select-option>
        <ion-select-option value="2">Casi nunca</ion-select-option>
        <ion-select-option value="3">A veces</ion-select-option>
        <ion-select-option value="4">Casi siempre</ion-select-option>
        <ion-select-option value="5">Siempre</ion-select-option>
      </ion-select>
    </ion-item>     
    <p>5) Busco información y orientación sobre el manejo de mi enfermedad.</p>
    <ion-item>      
      <ion-select [(ngModel)]="caa.answer5" (change)="capturar()" required="true" placeholder="seleccione">
        <ion-select-option value="1">Nunca </ion-select-option>
        <ion-select-option value="2">Casi nunca</ion-select-option>
        <ion-select-option value="3">A veces</ion-select-option>
        <ion-select-option value="4">Casi siempre</ion-select-option>
        <ion-select-option value="5">Siempre</ion-select-option>
      </ion-select>
    </ion-item>   
    <p>6) Considero que conozco cómo actúan y las reacciones desfavorables de los medicamentos que
       tomo actualmente para
        controlar la presión arterial.</p>
        <ion-item>      
            <ion-select [(ngModel)]="caa.answer6" (change)="capturar()" required="true" placeholder="seleccione">
              <ion-select-option value="1">Nunca </ion-select-option>
              <ion-select-option value="2">Casi nunca</ion-select-option>
              <ion-select-option value="3">A veces</ion-select-option>
              <ion-select-option value="4">Casi siempre</ion-select-option>
              <ion-select-option value="5">Siempre</ion-select-option>
            </ion-select>
          </ion-item>
  
      <p>7) Cuando inicio un nuevo medicamento solicitó al profesional de enfermería que me proporcione
         información
        necesaria sobre la correcta administración.</p>
        <ion-item>      
            <ion-select [(ngModel)]="caa.answer7" (change)="capturar()" required="true" placeholder="seleccione">
              <ion-select-option value="1">Nunca </ion-select-option>
              <ion-select-option value="2">Casi nunca</ion-select-option>
              <ion-select-option value="3">A veces</ion-select-option>
              <ion-select-option value="4">Casi siempre</ion-select-option>
              <ion-select-option value="5">Siempre</ion-select-option>
            </ion-select>
          </ion-item>
  
      <p>8) Considero que la cantidad máxima de sal que puedo utilizar para todo el día en la preparación 
        y consumo de
        alimentos son dos cucharaditas.</p>
        <ion-item>      
            <ion-select [(ngModel)]="caa.answer8" (change)="capturar()" required="true" placeholder="seleccione">
              <ion-select-option value="1">Nunca </ion-select-option>
              <ion-select-option value="2">Casi nunca</ion-select-option>
              <ion-select-option value="3">A veces</ion-select-option>
              <ion-select-option value="4">Casi siempre</ion-select-option>
              <ion-select-option value="5">Siempre</ion-select-option>
            </ion-select>
          </ion-item>
  
      <p>9) Reemplazo mi tratamiento por terapias alternativas.</p>
      <ion-item>      
          <ion-select [(ngModel)]="caa.answer9" (change)="capturar()" required="true" placeholder="seleccione">
            <ion-select-option value="1">Nunca </ion-select-option>
            <ion-select-option value="2">Casi nunca</ion-select-option>
            <ion-select-option value="3">A veces</ion-select-option>
            <ion-select-option value="4">Casi siempre</ion-select-option>
            <ion-select-option value="5">Siempre</ion-select-option>
          </ion-select>
        </ion-item>
  
      <p>10) Considero que el profesional de enfermería me escucha y aclara mis inquietudes.</p>
      <ion-item>      
          <ion-select [(ngModel)]="caa.answer10" (change)="capturar()" required="true" placeholder="seleccione">
            <ion-select-option value="1">Nunca </ion-select-option>
            <ion-select-option value="2">Casi nunca</ion-select-option>
            <ion-select-option value="3">A veces</ion-select-option>
            <ion-select-option value="4">Casi siempre</ion-select-option>
            <ion-select-option value="5">Siempre</ion-select-option>
          </ion-select>
        </ion-item>
  
      <p>11) Conozco las complicaciones derivadas de la enfermedad.</p>
      <ion-item>      
          <ion-select [(ngModel)]="caa.answer11" (change)="capturar()" required="true" placeholder="seleccione">
            <ion-select-option value="1">Nunca </ion-select-option>
            <ion-select-option value="2">Casi nunca</ion-select-option>
            <ion-select-option value="3">A veces</ion-select-option>
            <ion-select-option value="4">Casi siempre</ion-select-option>
            <ion-select-option value="5">Siempre</ion-select-option>
          </ion-select>
        </ion-item>
      <p>12) Camino diariamente, como mínimo, 30 minutos.</p>
      <ion-item>      
          <ion-select [(ngModel)]="caa.answer12" (change)="capturar()" required="true" placeholder="seleccione">
            <ion-select-option value="1">Nunca </ion-select-option>
            <ion-select-option value="2">Casi nunca</ion-select-option>
            <ion-select-option value="3">A veces</ion-select-option>
            <ion-select-option value="4">Casi siempre</ion-select-option>
            <ion-select-option value="5">Siempre</ion-select-option>
          </ion-select>
        </ion-item>
  
      <p>13) Realizo cambios según las necesidades para mantener la salud y manejar adecuadamente
         la enfermedad.</p>
      <ion-item>      
          <ion-select [(ngModel)]="caa.answer13" (change)="capturar()" required="true" placeholder="seleccione">
            <ion-select-option value="1">Nunca </ion-select-option>
            <ion-select-option value="2">Casi nunca</ion-select-option>
            <ion-select-option value="3">A veces</ion-select-option>
            <ion-select-option value="4">Casi siempre</ion-select-option>
            <ion-select-option value="5">Siempre</ion-select-option>
          </ion-select>
        </ion-item>
  
      <p>14) Realizo cambios en mi dieta para mantener un peso adecuado.</p>
      <ion-item>      
          <ion-select [(ngModel)]="caa.answer14" (change)="capturar()" required="true" placeholder="seleccione">
            <ion-select-option value="1">Nunca </ion-select-option>
            <ion-select-option value="2">Casi nunca</ion-select-option>
            <ion-select-option value="3">A veces</ion-select-option>
            <ion-select-option value="4">Casi siempre</ion-select-option>
            <ion-select-option value="5">Siempre</ion-select-option>
          </ion-select>
        </ion-item>
  
      <p>15) Evalúo si las medidas que he tomado en el manejo de mi enfermedad permiten 
        garantizar mi bienestar y el de mi familia.</p>
        <ion-item>      
            <ion-select [(ngModel)]="caa.answer15" (change)="capturar()" required="true" placeholder="seleccione">
              <ion-select-option value="1">Nunca </ion-select-option>
              <ion-select-option value="2">Casi nunca</ion-select-option>
              <ion-select-option value="3">A veces</ion-select-option>
              <ion-select-option value="4">Casi siempre</ion-select-option>
              <ion-select-option value="5">Siempre</ion-select-option>
            </ion-select>
          </ion-item>
  
      <p>16) Consumo en mi dieta comidas ricas en verduras, frutas, fibra y baja en grasas.</p>
      <ion-item>      
          <ion-select [(ngModel)]="caa.answer16" (change)="capturar()" placeholder="seleccione" required="true"> 
            <ion-select-option value="1">Nunca </ion-select-option>
            <ion-select-option value="2">Casi nunca</ion-select-option>
            <ion-select-option value="3">A veces</ion-select-option>
            <ion-select-option value="4">Casi siempre</ion-select-option>
            <ion-select-option value="5">Siempre</ion-select-option>
          </ion-select>
        </ion-item>
  
      <p>17) Siento que mi enfermedad ha generado dificultades en el desarrollo adecuado
         de mi vida sexual.</p>
      <ion-item>      
          <ion-select [(ngModel)]="caa.answer17" (change)="capturar()" required="true" placeholder="seleccione">
            <ion-select-option value="1">Nunca </ion-select-option>
            <ion-select-option value="2">Casi nunca</ion-select-option>
            <ion-select-option value="3">A veces</ion-select-option>
            <ion-select-option value="4">Casi siempre</ion-select-option>
            <ion-select-option value="5">Siempre</ion-select-option>          
          </ion-select>
        </ion-item>

    <ion-button shape="round" fill="outline" (click)="pruebaCaa()" >Guardar Preguntas</ion-button>
  </ion-list>


</ion-content>